<% provide(:title,'Lim-House') %>
<div>
	<% if signed_in? %>
		<div >
			<div class="pull-right">
				<span class="new_action" style="width: 800px">
				<span class="tools-group"> 
				<span class="tools_icon">
				<%= link_to("#", class: "btn btn-default", disabled:true) do%>
					<span class="glyphicon glyphicon-tasks"></span>
				<% end %>
				</span>
				<span hidden class="tools">
					<%= link_to("#", class: "btn btn-default tools-edit") do%>
						<span class="glyphicon glyphicon-edit"></span> Edytuj zaznaczone
					<% end %>
					<%= link_to("#", class: "btn btn-default tools-delete") do%>
						<span class="glyphicon glyphicon-trash"></span> Usuń zaznaczone
					<% end %>
					<%= link_to("#", class: "btn btn-default") do%>
						<span class="glyphicon glyphicon-trash"></span> Usuń zaznaczone załączniki <span class="glyphicon glyphicon-picture"></span>
					<% end %>
				</span>
				</span>
				<span><%= link_to "Dodaj nowy ticket zwrotu", new_prod_return_path, class: "btn btn-primary" %></span>
				</span>
			</div>
			<ul class="nav nav-tabs products_auctions_tabs">
				<li class="active"><a class="btn btn-default all" role="button" data-toggle="tab" href="#all">Wszystkie</a></li>
				<li><a data-toggle="tab" href="#received" class="btn btn-default received" role="button">Przyjete</a></li>
				<li><a data-toggle="tab" href="#ready_to_send" class="btn btn-default ready_to_send" role="button">Gotowe do wysylki</a></li>
				<li><a data-toggle="tab" href="#sent" class="btn btn-default sent" role="button">Wyslane</a></li>
			</ul>
			<div class="tab-content">
				<div id="all" class="tab-pane active">
					<%= render partial: 'shared/tab_table', locals:{returns:@all, all:@all, first_tab: true} %>
				</div>
				<div id="received" class="tab-pane">
					<%= render partial: 'shared/tab_table', locals:{returns:@received, all:@all, first_tab: false} %>
				</div>
				<div id="ready_to_send" class="tab-pane">
					<%= render partial: 'shared/tab_table', locals:{returns:@ready_to_send, all:@all, first_tab: false} %>
				</div>
				<div id="sent" class="tab-pane">
					<%= render partial: 'shared/tab_table', locals:{returns:@sent, all:@all, first_tab: false} %>
				</div>
			</div>
		</div>
	<% else %>
		<div class="center">
			<h1>Welcome to the Lim-House</h1>
			<%= link_to "Please sign in", signin_path, class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
</div>


<div id="h01">zxc</div>