<% provide(:title,'Lim-House') %>
<div>
	<% if signed_in? %>

		<ul class="nav nav-pills nav-stacked side-toolbar">
  			<li><br><br><br></li>
  			<li><a href='products/new'>
  				<button type="button" class="btn btn-inverse btn-small">
  					<b>P</b><span class="glyphicon glyphicon-plus"></span>
				</button></a></li>
  			<li><a href="#">A</a></li>
  			<li><a href="#">S</a></li>
  			<li><br></li>
		</ul>

		</div>
		<div >
			<ul class="nav nav-tabs products_auctions_tabs">
				<li class="active"><a data-toggle="tab" href="#not_auctioned">Bez aukcji</a></li>
				<li ><a data-toggle="tab" href="#auctioned" >Aukcje</a></li>
				<li ><a data-toggle="tab" href="#auctions_finished" >Aukcje zakończone</a></li>
				<li ><a data-toggle="tab" href="#payed" >Aukcje zapłacone</a></li>
				<li ><a data-toggle="tab" href="#sent" >Produkty wysłane</a></li>
			</ul>
			<div class="tab-content">
				<div id="not_auctioned" class="tab-pane active">
					<ol><%= render partial: 'products/product', collection: @added %></ol>
				</div>
		        <div id="auctioned" class="tab-pane">
					<ol><%= render partial: 'products/product', collection: @auctioned %></ol>
				</div>
				<div id="auctions_finished" class="tab-pane">
					<ol><%= render partial: 'products/product', collection: @auctions_finished %></ol>
				</div>
				<div id="payed" class="tab-pane">
					<ol><%= render partial: 'products/product', collection: @payment_done %></ol>
				</div>
				<div id="sent" class="tab-pane">
					<ol><%= render partial: 'products/product', collection: @sent %></ol>
				</div>
			</div>
		</div>
	<% else %>
		<div class="center">
			<h1>Welcome to the Lim-House</h1>
			<%= link_to "Please sign in", signin_path, class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
</div>


