<% provide(:title,'Lim-House') %>
<div>
	<% if signed_in? %>
		<div >
			<h4 class="center"> <%= link_to "Dodaj nowy ticket zwrotu", new_prod_return_path%></h4>
			<ul class="nav nav-tabs products_auctions_tabs">
				<li class="active"><a data-toggle="tab" href="#all">Wszystkie</a></li>
				<li ><a data-toggle="tab" href="#received" >Przyjete</a></li>
				<li ><a data-toggle="tab" href="#ready_to_send" >Gotowe do wysylki</a></li>
				<li ><a data-toggle="tab" href="#sent" >Wyslane</a></li>
			</ul>
			<div class="tab-content">
				<div id="all" class="tab-pane active">
				<table class="table table-striped table-hover">
					<tr>
						<th>#</th>
						<th>Tytuł aukcji</th>
						<th>Klient</th>
						<th>Data transakcji</th>
						<th>Data zwrotu</th>
						<th>Status</th>
						<th>Komentarze</th>
						<th>Zmień status</th>
					</tr>
					<%= render partial: 'prod_returns/prod_return', collection: @all %>
				</table>
					<%= will_paginate @all %>
				</div>
				<div id="ready_to_send" class="tab-pane">
					<ol><%= render partial: 'auctions/auction', collection: @auctions_finished %></ol>
				</div>
				<div id="sent" class="tab-pane">
					<ol><%= render partial: 'transactions/transaction', collection: @waiting %></ol>
				</div>
			</div>
		</div>
	<% else %>
		<div class="center">
			<h1>Welcome to the Lim-House</h1>
			<%= link_to "Please sign in", signin_path, class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
</div>