<%= provide(:title,"Auction") %>

<h2> Auction info page </h2>
<h3> <%= @auction.title %> </h3>
<br>
<section>
	<div class="row">
		<div class="span4">
			<div class="image-container">
				<%= image_tag image_link_for(@auction) %><br>
				Cena: <%= @auction.price %><br>
				Ilość: <%= @auction.quantity %><br>
				Sklep: <%= @auction.store %><br>
				Obecny status: <%= AuctionsHelper::Status.key(@auction.status) %> <br>
				<%= form_for @auction do |f|%>
				Zmien na:<%=f.select :status, options_for_select(AuctionsHelper::Status.to_a.map {|z| [z[0].to_s,z[1]]}),{:style => "width:150px"},:onchange => "this.form.submit();" %>
				<% end %>
				<%= link_to 'Delete', @prod, method: :delete, confirm: "You sure?" %>
			</div>
		</div>
		<div class="span8">
			<aside>
				<section>
					Opis: <%= simple_format(@auction.description) %><br>
				</section>
			</aside>	
		</div>
	</div>
</section>
