<tr class='with_hoover <%= "status#{prod_return.status}" %>'>
	<td> <%= check_box_tag('chbx',"0",false, id:"chbx_#{prod_return.id}" ) %></td>
	<td> <%= link_to "#{prod_return.id}", prod_return_path(prod_return.id)%></td>
	<td> <%= prod_return.auction_name %> </td>
	<td> <%= prod_return.client_name %> </td>
	<td> <%= prod_return.auction_date %> </td>
	<td> <%= prod_return.created_at.strftime("%Y-%m-%d") %> </td>
	<td> <%= ApplicationHelper::ReturnsStatus.key(prod_return.status) %> </td>
	<td> <%= render partial:'shared/comments_modal', locals:{prod_return:prod_return, tab:tab} %> </td>
	<td> <%= render partial:'shared/status_modal', locals:{prod_return:prod_return, tab:tab} %> </td>
	<td width="10%"> <%= render partial:'shared/attachment_link', locals:{prod_return:prod_return} %> </td>
</tr>
