<div class="pull-right"> <%= link_to "Edytuj", edit_prod_return_path(@ret), class: "btn btn-primary" %></div>
<h3 class="center"> Szczegóły zwrotu </h3><br>
<div class="row">
	<div class="span12">
		<table class="table table-striped table-hover">
			<tr>
				<th>#</th>
				<th>Tytuł aukcji</th>
				<th>Klient</th>
				<th>Data transakcji</th>
				<th>Data zwrotu</th>
				<th>Status</th>
			</tr>
			<tr>
				<td> <%= link_to "#{@ret.id}" %> </td>
				<td> <%= @ret.auction_name %> </td>
				<td> <%= @ret.client_name %> </td>
				<td> <%= @ret.auction_date %> </td>
				<td> <%= @ret.created_at.strftime("%Y-%m-%d") %> </td>
				<td> <%= @ret.status %> </td>
			</tr>
		</table>
		<div class="panel panel-default">
			<div class="panel-heading">Wiadomość od klienta</div>
			<div class="panel-body">
				<%= simple_format(@ret.client_msg, class:"word-wrap") %>
	  		</div>
		</div> 
		<h5 class="center"> <%= "Załączniki:" if !@ret.prattachments.length %> </h5>
		<div id="files"><%= render partial:'prod_returns/attachments', collection:@ret.prattachments %></div>
	</div>
	<div class="span5 pull-right">
		<table class="table table-striped">
			<tr>
				<th> <div class="center">Komentarze do zwrotu </div></th>
			</tr>
			<tr>
				<td><%= render partial:'comments/comment', collection:@ret.comments %> </td>
			</tr>
		</table>
	</div>
</div>
