<tr class="product-list-item">
	<th><div class="center"><%= link_to("#{product.id}", product_path(product)) %></div></th>
	<th><div class="center"><%= product.title %></div></th>
	<th><div class="center" id=<%= "pr_net_eur#{product.id}" %>> <%= number_to_currency(product.purchase_net_euro, unit: "€ ") %> </div></th>
	<th><div class="center" id=<%= "pr_net_zl#{product.id}" %>>  </div></th>
	<th><div class="center" id=<%= "buy_now_net#{product.id}" %>>  </div></th>
	<th><div class="center" id=<%= "buy_now_gr#{product.id}" %>> <%= number_to_currency(product.buy_now_gross, unit: "") %> </div></th>
	<th><div class="center" id=<%= "delivery_cost#{product.id}" %>> <%= number_to_currency(product.delivery_cost, unit: "") %> </div></th>
	<th><div class="center" id=<%= "prod_plus_deliv#{product.id}" %>>  </div></th>
	<th><div class="center" id=<%= "delivery_dhl_gr#{product.id}" %>> <%= number_to_currency(product.delivery_dhl_gross, unit: "") %> </div></th>
	<th><div class="center" id=<%= "deliv_trim#{product.id}" %>>  </div></th>
	<th><div class="center" id=<%= "provision#{product.id}" %>>  </div></th>
</tr>