<% provide(:title,"Add new product") %>

<h3>Add new product</h3>

<div class="new_product_form">
<div class="row">
<div class="span4">
<%= form_for @product do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="input-group">
		 <span>Title: </span>
		<%= f.text_field :title %>
	</div>
	<div class="input-group">
		 <span>Price: </span>
		<%= f.text_field :price %>
	</div>
	<div class="input-group">
		 <span >Quantity: </span>
		<%= f.number_field :quantity %>
	</div>
	<div class="input-group">
		 <span >Image link: </span>
		<%= f.url_field :image_lnk %>
	</div>
	<div class="span9">
		<%= f.label "Description" %>
		<%= f.text_area :description, :rows => 7, :style => 'width: 95%' %>
		<span class="input-group-btn"> <%= submit_tag("Submit") %> </span>
	</div>
<% end %>
</div>
</div>
</div>