<% provide(:title,"Add new product") %>

<h3>Add new product</h3>

<%= form_for @product do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label "Title" %>
	<%= f.text_field :title %>
	<%= f.label "Price" %>
	<%= f.text_field :price %>
	<%= f.label "Quantity" %>
	<%= f.number_field :quantity %>
	<%= f.label "Image link" %>
	<%= f.url_field :image_lnk %>
	<%= f.label "Description" %>
	<%= f.text_area :description, :rows => 7, :style => 'width: 95%' %>
	<span class="input-group-btn"> <%= submit_tag("Submit") %> </span>
<% end %>