<% provide(:title, "#{@prod.title}") %>

<h2> Product info page </h2>
<h3> Produkt: <%= @prod.title %> </h3>
<br>
<div class="row">
	Opis: <%= simple_format(@prod.description) %><br>
	Cena: <%= @prod.price %><br>
	Status: <%= ProductsHelper::Product_status.key(@prod.status) %><br>
	Ilość: <%= @prod.quantity %><br>
</div>